.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layoutBody {
    display: flex;
    flex: 1;          
    width: 100%;
    overflow: hidden; 
}

.mainWrapper {
    flex: 1;               
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background-color: #ffffff;
}

.content {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: #ffffff;
}
