.containerDetalhes {
    padding: 25px;
}

.containerConteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

.containerEsquerdo {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 8%;
}

.containerDireito {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 8%;
}

.containerLevantamento {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 20px;
}

.bloco {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status {
    color: #34623F;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}