@font-face {
  font-family: Inter;
  src: url(../../assets/fonts/Inter-Regular.ttf) format("truetype");
}

.modalLabel {
  font-family: "Inter", sans-serif !important;
  font-size: 24px !important;
  color: #3b6234 !important;
}